@keyframes introIndex{
    from{
        width: 0px;
        height: 0px;
    }
    to{
       
        width: 470px;
        height: 455px;
        
    }
}

.conteudoMainTop{
    display: flex;
}

#quemSomos{
    padding-top: 2rem;
}

#quemSomosText{
    font-size: large;
    font-weight: 500;
    color: rgb(0, 0, 0);
    padding: 1rem;
    max-width: 29rem;
    position: relative;
    color: var(--white);
}

.fundo{
    position: absolute;
    background-color: var(--gray);
    border-radius: .5rem;
    animation-fill-mode: forwards;
    animation-name: introIndex;
    animation-duration: 2s;
}

#quemSomosText div{
    display: flex;
}

.links{
    font-size: larger;
    font-weight: 600;
 }

 #redeSociais div{
     padding-bottom: 2rem;
     display: flex;
     justify-content: space-around;
     
 }

 #linkMainBottom{
     margin-top: 1rem;
     
 }

 #linkMainBottom a{
     background-color: var(--coral3);
     padding-top: 1rem;
     margin-top: 1rem;
     display: flex;
     justify-content: center;
     height: 4rem;
     border-radius: .5rem;
     border: 3px solid var(--coral3);
     transition: border .6s;
     transition: color .3s;
     transition: box-shadow .6s;
 }

 #linkMainBottom a:hover{
    color: var(--white);
    box-shadow: 10px 5px 15px 0px rgb(165, 164, 164);
    border-bottom: 2px solid #e2571c;
    border-right: 2px solid #e2571c;
 }

/* MIDIA MAIN */

@media(max-width: 425px){
    #containerMain div{
        margin-top: .5rem;
        margin-bottom: .5rem;
    }
}
