
/* HEADER */
header{
    background-color: var(--coral3);
    
}
header div{
    padding: .5rem;
}

header div a{
    margin-left: 1rem;
    transition: padding 0.5s;
}

header #linkHeader a:hover{
    border-radius: .5rem;
    background-color: var(--coral2);
    padding: .2rem;
}

/* MEDIA HEADER */
@media(max-width: 320px ){
    
    header div a{
        margin-left: .2rem;
    }
}

/* MAIN */

main{
    background-color: var(--white);
}

#containerMain{
    margin-top: 1rem;
}

#containerMain div{
    margin-top: .5rem;
    margin-bottom: .5rem;
}


#day, #month, #year, #type, #descricao, #valor{
    border: 2px solid red;

}

#day, #month, #year, #type, #descricao, #valor, #btnPage{
    box-shadow: none;
}




/* MIDIA MAIN */

@media(max-width: 425px){
    #containerMain div{
        margin-top: .5rem;
        margin-bottom: .5rem;
    }
}

/* FOOTER */

footer{
    background-color: var(--gray);
}

footer h4{
    color:#b9babd ;
}

footer a{
    padding: .2rem;
    color: var(--white);
}
footer a:hover{
    background-color:#adaeb480 ;
    border-radius: .5rem;
}